<footer class="bg-gray-900">
    <div class="tw-w-full">
        <div class="tw-max-w-screen-2xl tw-mx-auto">		
        <div class="tw-grid tw-grid-cols-2 tw-gap-8 tw-px-14 tw-py-6 lg:tw-py-8 md:tw-grid-cols-4 md:tw-px-16 lg:tw-px-18 xl:tw-px-20">
            <div>
                <h2 class="tw-mb-6 tw-text-sm tw-font-semibold tw-text-white">Company</h2>
                <ul class="tw-text-gray-400 tw-font-medium">
                    <li class="tw-mb-4">
                        <a href="#" class=" hover:underline">About</a>
                    </li>
                    <li class="tw-mb-4">
                        <a href="#" class="hover:underline">Careers</a>
                    </li>
                    <li class="tw-mb-4">
                        <a href="#" class="hover:underline">Brand Center</a>
                    </li>
                    <li class="tw-mb-4">
                        <a href="#" class="hover:underline">Blog</a>
                    </li>
                </ul>
            </div>
            <div>
                <h2 class="tw-mb-6 tw-text-sm tw-font-semibold uppercase tw-text-white">Help center</h2>
                <ul class="tw-text-gray-400 tw-font-medium">
                    <li class="tw-mb-4">
                        <a href="#" class="hover:underline">Discord Server</a>
                    </li>
                    <li class="tw-mb-4">
                        <a href="#" class="hover:underline">Twitter</a>
                    </li>
                    <li class="tw-mb-4">
                        <a href="#" class="hover:underline">Facebook</a>
                    </li>
                    <li class="tw-mb-4">
                        <a href="#" class="hover:underline">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div>
                <h2 class="tw-mb-6 tw-text-sm tw-font-semibold uppercase dark:tw-text-white">Legal</h2>
                <ul class="tw-text-gray-400 tw-font-medium">
                    <li class="tw-mb-4">
                        <a href="#" class="hover:tw-underline">Privacy Policy</a>
                    </li>
                    <li class="tw-mb-4">
                        <a href="#" class="hover:tw-underline">Licensing</a>
                    </li>
                    <li class="tw-mb-4">
                        <a href="#" class="hover:tw-underline">Terms &amp; Conditions</a>
                    </li>
                </ul>
            </div>
            <div>
                <h2 class="tw-mb-6 tw-text-sm font-semibold uppercase tw-text-white">Follow us</h2>
                <ul class="tw-text-gray-400 tw-flex tw-space-x-6 tw-font-medium">
                    <li class="tw-mb-4">
                        <a href="//www.tiktok.com/@kwavve_official" class="hover:tw-underline">
                            <svg class="tw-w-6" fill="#9ca3af" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M448 209.9a210.1 210.1 0 0 1 -122.8-39.3V349.4A162.6 162.6 0 1 1 185 188.3V278.2a74.6 74.6 0 1 0 52.2 71.2V0l88 0a121.2 121.2 0 0 0 1.9 22.2h0A122.2 122.2 0 0 0 381 102.4a121.4 121.4 0 0 0 67 20.1z"/></svg>
                        </a>
                    </li>
                    <li class="tw-mb-4">
                        <a href="//www.instagram.com/kwavve_official" class="hover:tw-underline">
                            <svg class="tw-w-6" fill="#9ca3af" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/></svg>
                        </a>
                    </li>
                    <li class="tw-mb-4">
                        <a href="//www.x.com/kwavve_official" class="hover:tw-underline">
                            <svg class="tw-w-6" fill="#9ca3af" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/></svg>
                        </a>
                    </li>
                </ul>
            </div>
            </div>
    </div>
    <div class="tw-px-4 tw-py-4 tw-bg-[#F82F62] md:tw-flex md:tw-items-center md:tw-justify-between">
        <span class="tw-text-sm tw-text-[#E6E6E6] sm:tw-text-center">© 2024 <a href="/">K-wavve™</a>. All Rights Reserved.
        </span>
    </div>
</footer>