---
import '@fontsource/harmattan';
import SearchIcon from './icons/SearchIcon.astro';

interface Props {
  class?: string;
}

const { class: className = "" } = Astro.props;
---


<div class="tw-relative tw-flex tw-items-center">
  <input 
    type="text" 
    placeholder="People, Genre, Title" 
    class={className}
  />
  <SearchIcon class="tw-absolute tw-left-3 tw-top-1/2 tw-transform -tw-translate-y-1/2 tw-w-5 tw-h-5 tw-text-[#E6E6E6]" />
</div>