---
interface Props {
  class?: string;
}

const { class: className = "" } = Astro.props;
---
<div>
  <svg class={className} viewBox="0 0 66 66" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_d_138_1681)">
      <path d="M33 11.2258C26.8024 11.2258 21.7742 16.254 21.7742 22.4516C21.7742 28.6492 26.8024 33.6774 33 33.6774C39.1976 33.6774 44.2258 28.6492 44.2258 22.4516C44.2258 16.254 39.1976 11.2258 33 11.2258ZM33 28.0645C29.9012 28.0645 27.3871 25.5504 27.3871 22.4516C27.3871 19.3528 29.9012 16.8387 33 16.8387C36.0988 16.8387 38.6129 19.3528 38.6129 22.4516C38.6129 25.5504 36.0988 28.0645 33 28.0645ZM33 0C16.9798 0 4 12.9798 4 29C4 45.0202 16.9798 58 33 58C49.0202 58 62 45.0202 62 29C62 12.9798 49.0202 0 33 0ZM33 52.3871C27.1883 52.3871 21.8794 50.2472 17.7867 46.7274C19.529 44.0379 22.5109 42.2137 25.9254 42.1085C28.3577 42.8569 30.673 43.231 33 43.231C35.327 43.231 37.6423 42.8685 40.0746 42.1085C43.4891 42.2254 46.471 44.0379 48.2133 46.7274C44.1206 50.2472 38.8117 52.3871 33 52.3871ZM52.0254 42.5528C49.1722 38.881 44.7637 36.4839 39.7355 36.4839C38.5427 36.4839 36.6952 37.6065 33 37.6065C29.3165 37.6065 27.4573 36.4839 26.2645 36.4839C21.248 36.4839 16.8395 38.881 13.9746 42.5528C11.2383 38.729 9.6129 34.0516 9.6129 29C9.6129 16.102 20.102 5.6129 33 5.6129C45.898 5.6129 56.3871 16.102 56.3871 29C56.3871 34.0516 54.7617 38.729 52.0254 42.5528Z" fill="#E6E6E6"/>
      <path d="M17.3671 46.4556L17.1297 46.8219L17.4607 47.1065C21.6397 50.7005 27.063 52.8871 33 52.8871C38.937 52.8871 44.3603 50.7005 48.5393 47.1065L48.8703 46.8219L48.6329 46.4556C46.8056 43.6348 43.6765 41.7315 40.0917 41.6088L40.0067 41.6059L39.9255 41.6312C37.5379 42.3773 35.2729 42.731 33 42.731C30.7286 42.731 28.4629 42.3661 26.0724 41.6306L25.993 41.6061L25.91 41.6087C22.3228 41.7193 19.1937 43.6359 17.3671 46.4556ZM51.6306 42.8596L52.0419 43.3889L52.432 42.8438C55.2263 38.939 56.8871 34.1607 56.8871 29C56.8871 15.8259 46.1741 5.1129 33 5.1129C19.8259 5.1129 9.1129 15.8259 9.1129 29C9.1129 34.1607 10.7737 38.939 13.568 42.8438L13.9573 43.3878L14.3688 42.8604C17.146 39.3011 21.4131 36.9839 26.2645 36.9839C26.4936 36.9839 26.7801 37.0388 27.1748 37.1428C27.3499 37.1889 27.5372 37.2421 27.744 37.3008L27.8122 37.3201C28.0445 37.386 28.2979 37.4574 28.5719 37.5289C29.674 37.8168 31.1037 38.1065 33 38.1065C34.9021 38.1065 36.3317 37.8169 37.4327 37.5289C37.7064 37.4573 37.9593 37.3859 38.1912 37.32L38.2605 37.3003C38.4664 37.2418 38.6528 37.1887 38.8271 37.1427C39.2208 37.0388 39.5065 36.9839 39.7355 36.9839C44.599 36.9839 48.8656 39.3013 51.6306 42.8596ZM22.2742 22.4516C22.2742 16.5302 27.0786 11.7258 33 11.7258C38.9214 11.7258 43.7258 16.5302 43.7258 22.4516C43.7258 28.3731 38.9214 33.1774 33 33.1774C27.0786 33.1774 22.2742 28.3731 22.2742 22.4516ZM26.8871 22.4516C26.8871 25.8265 29.6251 28.5645 33 28.5645C36.3749 28.5645 39.1129 25.8265 39.1129 22.4516C39.1129 19.0767 36.3749 16.3387 33 16.3387C29.6251 16.3387 26.8871 19.0767 26.8871 22.4516ZM4.5 29C4.5 13.256 17.256 0.5 33 0.5C48.744 0.5 61.5 13.256 61.5 29C61.5 44.744 48.744 57.5 33 57.5C17.256 57.5 4.5 44.744 4.5 29Z" stroke="#2E2C2C"/>
    </g>
    <defs>
      <filter id="filter0_d_138_1681" x="0" y="0" width="66" height="66" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dy="4"/>
        <feGaussianBlur stdDeviation="2"/>
        <feComposite in2="hardAlpha" operator="out"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_138_1681"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_138_1681" result="shape"/>
      </filter>
    </defs>
  </svg>
</div>
